body {
  margin: 0px;
}
h3 {
  margin: 0px;
}

.full-fill {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.full-fill-lh {
  width: 150px;
  height: 150px;
}
.ntd {
  text-decoration: none;
  color: #600060;
}

.header {
  color: #8080A0;
  margin-top: 15px;
}
.project-link {
  border: 1px outset grey;
  padding: 15px;
  display: inline-block;
  border-radius: 5px;
  background-color: #CCC;
  width: 170px;
  height: 180px;
}
.round {
  border-radius: 35px;
}
